/* Ini CSS External */

body {
  font-family: system-ui;
  font-weight: bolder;
  color: black;
}

.main-header > h1 {
  margin: 0px;
  background-color: rgb(237, 226, 10);
  padding: 24px;
  text-align: center;
}

main {
  background-color: rgb(253, 249, 249);
  padding: 16px;
  text-align: center;
}

.nav-fitur {
  display: flex;
  flex-direction: row;
}

.nav-fitur > a {
  color: rgb(12, 12, 12);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 50%;
  align-self: center;
}

.nav-fitur-non-active {
  background-color: rgb(27, 8, 243);
}

.nav-fitur-active {
  background-color: rgb(10, 170, 239);
}

.section-header {
  background-color: rgb(9, 245, 72);
  padding: 16px;
}

.section-image {
  background-image: url(../assets/persegi.jpg);
  width: 200px;
  height: 100px;
  justify-self: center;
  background-size: cover;
  background-position: center;
}

.calculate-content {
  border: 1px solid;
  height: 300px;
  align-content: center;
}

section {
  margin-top: 16px;
  margin-bottom: 16px;
}

footer {
  text-align: center;
}

/* Responsive */
@media only screen and (max-width: 400px) {
  .nav-fitur {
    display: flex;
    flex-direction: column;
  }
}
